////
/// A container for the article
/// @group 03-theme
/// @author Patrick Kollitsch
////

article {
  width: 100%;

  code {

    &::before,
    &::after {
      content: "`";
    }

    background-color: rgba($primary, 0.05);
  }

  pre code {
    /* fix: disable the backticks in highlighted code */

    &::before,
    &::after {
      content: "";
    }
  }

  h1,
  h2,
  h3 {
    &.post-title {
      border-bottom: $border-width solid $primary;
    }
  }

  .section--content & {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    transition: background 2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }


    @extend .rounded;

  }

  // @todo make this configurable by navbar
  // [id] {
  //   scroll-margin-top: var(--scroll-margin, 2rem);
  // }

  // @todo testing this out
  // a:not([class]) {
  //   text-underline-offset: 0.25em;
  // }
  // text-decoration-color to change the underline color
  // text-decoration-thickness to change the underline stroke thickness.




  /// A container for the article image
  .post-slider {

    figure {
      @extend .w-100;
      @extend .overflow-hidden;
      @extend .rounded-top;
      @extend .position-relative;

      picture,
      img,
      .iframe-border,
      video {
        object-fit: cover;
        aspect-ratio: 2/1;

        @extend .overflow-hidden;
        @extend .rounded;
        @extend .w-100;
      }

    }
  }

  /// global figcaption design
  figcaption {

    @extend .text-end;
    @extend .text-secondary;
    @extend .fst-italic;
    @extend .mt-0;
    font-size: 0.9rem;
    width: 100%;
  }

  .shortcode--youtube {
    @extend .mb-3;
  }


  /// @todo check and add/remove
  // @include color-mode(dark) {
  //   .element {
  //     :is(tbody, table)>tr:nth-child(odd) {
  //       background: #0001;
  //     }
  //   }
  // }

  // @include color-mode(light) {
  //   .element {
  //     :is(tbody, table)>tr:nth-child(odd) {
  //       background: #fff1;
  //     }
  //   }
  // }
}
