////
/// @group 03-theme
/// @author Patrick Kollitsch
/// @access public
/// @since 1.2024.0
///
///  navbar setup
///
/// see
/// - https://getbootstrap.com/docs/5.2/components/navbar/
///- https://getbootstrap.com/docs/5.2/components/navs-tabs/
////

@use "sass:map";
@use "sass:color";
@use "modules/colors" as dnb-colors;

.navbar {
  transition: background-color 2s;

  .navbar-toggler {
    line-height: 0.8;
  }

  .navbar-toggler-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .navbar-brand {
    transition: opacity 1.5s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px); // Start slightly above
    display: block; // Ensure the element is always in the document flow
    visibility: hidden; // Ensure it's hidden from screen readers when invisible

    &.sticky-visible {
      opacity: 1;
      transform: translateY(0); // Move back to its normal position
      visibility: visible; // Make it accessible to screen readers
    }
  }

  body.dark & {
    background-color:color.scale(map.get(dnb-colors.$colors, "veryblack"), $alpha: -80%);
  }

  body.light & {
    background-color: color.scale(map.get(dnb-colors.$colors, "white"),
      $alpha: -80%);
  }

  body.dark.nav-state2 & {
    background-color: color.scale(map.get(dnb-colors.$colors, "veryblack"),
      $alpha: -20%);
    backdrop-filter: saturate(180%) blur(20px);
  }

  body.light.nav-state2 & {
    background-color: color.scale(map.get(dnb-colors.$colors, "white"),
      $alpha: -20%);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .icon--bootstrap {
    margin-right: 0.25rem;
  }

}

.progress {
  background: linear-gradient(90deg,
    map.get(dnb-colors.$colors, "red") 0%,
    map.get(dnb-colors.$colors, "orange") 12%,
    map.get(dnb-colors.$colors, "yellow") 25%,
    map.get(dnb-colors.$colors, "springgreen") 37%,
    map.get(dnb-colors.$colors, "deepskyblue") 50%,
    map.get(dnb-colors.$colors, "blueviolet") 62%,
    map.get(dnb-colors.$colors, "mediumvioletred") 75%,
    map.get(dnb-colors.$colors, "deeppink") 87%,
    map.get(dnb-colors.$colors, "red") 100%);
}
