////
/// Theme colors setup
/// @group settings
/// @author Patrick Kollitsch
////

$dark-1: #172b36 !default;
$dark-2: #114c5a !default;

$light-1: #f1f6f4 !default;
$light-2: #d9e8e3 !default;

$primary: #dc322f !default;
