////
/// Theme colors setup
/// @group 01-settings
/// @author Patrick Kollitsch
/// @access public
/// @since 1.2024.0
////

@use "sass:map";
@use "modules/colors" as *;

// :root {
//   @each $name, $value in $colors {
//     --color-#{$name}: #{$value};
//   }
// }

/// default dark background color
/// @type color
$dark-1: map.get($colors, "black") !default;

/// default dark accented background color
/// @type color
$dark-2: map.get($colors, "midnightblue") !default;

/// default light background color
/// @type color
$light-1: map.get($colors, "whitesmoke") !default;

/// default light accented background color
/// @type color
$light-2: map.get($colors, "gainsboro") !default;

/// theme primary (accent) color
/// @type color
$primary: map.get($colors, "red") !default;

/// contrast between sections in dark theme
/// @type percentage
$dark-contrast: 12% !default;

/// contrast between sections in light theme
/// @type percentage
$light-contrast: 7% !default;
