/// @group settings

$fontdir: "/assets/webfonts";

@font-face {
  font-family: Exo2;
  src: url("#{$fontdir}/exo/normal.woff2") format("woff2") tech("variations"),
  url("#{$fontdir}/exo/normal.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: Exo2;
  src: url("#{$fontdir}/exo/italic.woff2") format("woff2") tech("variations"),
  url("#{$fontdir}/exo/italic.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("#{$fontdir}/jetbrainsmono/jetbrainsmonoi.woff2") format("woff2") tech("variations"),
  url("#{$fontdir}/jetbrainsmono/jetbrainsmonoi.woff2") format("woff2-variations");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("#{$fontdir}/jetbrainsmono/jetbrainsmono.woff2") format("woff2") tech("variations"),
  url("#{$fontdir}/jetbrainsmono/jetbrainsmono.woff2") format("woff2-variations");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: Anton;
  src: url("#{$fontdir}/anton/regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: 'changa_oneitalic';
  src: url('#{$fontdir}/changa/changaone-italic-webfont.woff2') format('woff2'),
  url('#{$fontdir}/changa/changaone-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizelegibility;

}

@font-face {
  font-family: 'changa_oneregular';
  src: url('#{$fontdir}/changa/changaone-regular-webfont.woff2') format('woff2'),
  url('#{$fontdir}/changa/changaone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizelegibility;

}

:root {
  --ff-title: changa_oneregular, Anton, sans-serif;
  --ff-body: Exo2, sans-serif;
  --ff-mono: JetBrainsMono, monospace;
}

/// font family classes
.ff-headline {
  font-family: var(--ff-title);
}

.ff-body {
  font-family: var(--ff-body)
}

.ff-jetbrains {
  font-family: var(--ff-mono);
}
