////
/// @group 01-settings
/// @author Patrick Kollitsch
/// @access public
/// @since 1.2024.0
////

:root {
  /// @see https://developer.chrome.com/docs/css-ui/animate-to-height-auto/
  interpolate-size: allow-keywords;
}

:root,
[data-bs-theme="dark"] {
  color-scheme: dark;

  --bs-body-bg: $dark-2;
  --bs-primary: #dc322f;
}

[data-bs-theme="light"] {
  color-scheme: light;

  --bs-body-bg: $light-1;
  --bs-primary: $dark-2;
}

/// [data-bs-theme=dark] instead of media-queries
/// @see https://getbootstrap.com/docs/5.3/customize/color-modes/#custom-color-modes
$color-mode-type: data;

/// color settings
$danger-text-emphasis: $primary;

/// global elements
$border-width: 2px;

/// body
$body-bg-dark: $dark-1;
$body-bg: $light-1;

/// typography
/// based on golden ratio
///
/// Size (px)	Height (px)
/// 47	74 52
/// 37	59 32
/// 29	48 20
/// 23	39 12
/// 18	32  7
/// 14	26  4
$font-size-root: 18px;
$font-size-base: 1rem;
$font-family-sans-serif: $ff-body;
$font-family-monospace: $ff-mono;

/// font sizes
$font-weight-lighter: 100;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

/// headings
$headings-font-family: $ff-headline;
$headings-font-weight: 400;
$h1-font-size: $font-size-base * 2.05;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base * 0.8;
$h6-font-size: $font-size-base * 0.8;

/// component color
$component-active-color: var(--bs-dark);

/// links
$link-color: $primary;
$link-color-dark: $primary;
$link-hover-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

/// badges
$badge-font-weight: 400;
$badge-font-size: 0.75em;

/// buttons
$btn-font-family: $ff-headline;

/// navigation
/// @link https://getbootstrap.com/docs/5.3/components/navbar/
/// @link https://getbootstrap.com/docs/5.3/components/navs-tabs/
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$nav-link-font-size: 1rem;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;

/// navbar toggler
$navbar-toggler-padding-y: .25rem;
$navbar-toggler-padding-x: .5rem;
$navbar-toggler-transition: box-shadow .15s ease-in-out;

/// settings
$enable-shadows: true;
$enable-negative-margins: true;
$enable-rounded: true;
$enable-important-utilities: false;

/// theme settings
$heading-height: 70px;
$aspect-ratio: 2 / 1;

/// mark tag
$mark-color: var(--bs-gray-dark);
$mark-bg: var(--bs-primary);
$mark-padding: 0 0.1875em;

/// root setup
:root {
  // @link https://drafts.csswg.org/css-ui-4/#widget-accent
  // @link https://caniuse.com/?search=accent-color
  accent-color: var(--bs-primary);
  color-scheme: dark light;

  // transition setup and default values
  --duration: 0.5s;
  --timing: ease;

  --flow-space: var($spacer * 2, 1em);

  transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

@media (prefers-reduced-motion) {

  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/// breadcrumbs setup
/* stylelint-disable-next-line scss/no-global-function-names -- quote alone is ok */
$breadcrumb-divider: quote(⟩);
$breadcrumb-font-size: 0.8rem;
$breadcrumb-margin-bottom: 0.25rem;
$breadcrumb-divider-color: var(--bs-tertiary-color);

$border-radius: 5px;
