/* stylelint-disable scss/no-global-function-names -- not working in Hugo yet. */
////
/// A collection of utility classes for Bootstrap, using the utility API.
///
/// @group 01-settings
/// @author Patrick Kollitsch
/// @access public
/// @since 1.2024.0
/// @link https://getbootstrap.com/docs/5.3/utilities/api/
////

@use sass:color;

/// Setup container sizes
$containers: (
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  36: 36px,
  48: 48px,
  60: 60px,
);

/// @access private
/// setup utilities map before it exists
$utilities: (
);

///
///
///
///
$utils-fsize: (
  /// fsize utility
  fsize: (property: font-size,
    class: fontsize,
    values: (1: 0.8rem,
      2: 0.9rem,
      3: 1rem,
      4: 1.1rem,
      5: 1.2rem,
      12: 2rem,
    ),
  )
);
$utilities: map-merge($utilities, $utils-fsize);

/// container utilities
$utils-containery: (
  containery: (property: height,
    values: $containers,
    class: cy,
  ),
);
$utilities: map-merge($utilities, $utils-containery);

/// container utilities
$utils-containerx: (
  containerx: (property: width,
    values: $containers,
    class: cx,
  ),
);
$utilities: map-merge($utilities, $utils-containerx);

/// container utilities
$utils-container: (
  container: (property: width,
    values: $containers,
    class: c,
  ),
);
$utilities: map-merge($utilities, $utils-container);

/// font-size utilities
$utils-fontsize2: (
  fontsize2: (property: font-size,
    class: fsv,
    values: (12: 12vm,
      17: 17vm,
    ),
  ),
);
$utilities: map-merge($utilities, $utils-fontsize2);

/// viewport utilities
$utils-viewport: (
  viewport: (property: margin-top,
    class: vh,
    values: (120: 120vh,
      100: 100vh,
      50: 50vh,
      25: 25vh,
      75: 75vh,
    ),
  ),
);
$utilities: map-merge($utilities, $utils-viewport);

/// cursor utilities
$values: (
  alias: alias,
  all-scroll: all-scroll,
  auto: auto,
  cell: cell,
  col-resize: col-resize,
  context-menu: context-menu,
  copy: copy,
  crosshair: crosshair,
  default: default,
  e-resize: e-resize,
  ew-resize: ew-resize,
  grab: grab,
  grabbing: grabbing,
  help: help,
  move: move,
  n-resize: n-resize,
  ne-resize: ne-resize,
  nesw-resize: nesw-resize,
  ns-resize: ns-resize,
  nw-resize: nw-resize,
  nwse-resize: nwse-resize,
  no-drop: no-drop,
  none: none,
  not-allowed: not-allowed,
  pointer: pointer,
  progress: progress,
  row-resize: row-resize,
  s-resize: s-resize,
  se-resize: se-resize,
  sw-resize: sw-resize,
  text: text,
  w-resize: w-resize,
  wait: wait,
  zoom-in: zoom-in,
  zoom-out: zoom-out
);
$utils-cursor: (
  cursor: (property: cursor,
    class: cursor,
    values: $values,
  ),
);
$utilities: map-merge($utilities, $utils-cursor);
