/* stylelint-disable block-no-empty -- keeping empty blocks for later changes */
////
/// @group 05-prose
/// @author Patrick Kollitsch
/// @access public
/// @since 1.2024.0
////

/* Background */
.bg {
  color: map-get($colors, "black");;
  background-color: map-get($colors, "ghostwhite");;
}

/* PreWrapper */
.chroma {
  color: map-get($colors, "black");;
  background-color: map-get($colors, "ghostwhite");;
}

/* Other */
.chroma .x {
}

/* Error */
.chroma .err {
  color: map-get($colors, "purple");;
  background-color: map-get($colors, "black");;
}

/* CodeLine */
.chroma .cl {
}

/* LineLink */
.chroma .lnlinks {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: rgba(map-get($colors, "veryblack"), 0.1);
}

/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em;
  color: map-get($colors, "gray");;
}

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em;
  color: map-get($colors, "gray");;
}

/* Line */
.chroma .line {
  display: flex;
}

/* Keyword */
.chroma .k {
  color: map-get($colors, "darkcyan");
}

/* KeywordConstant */
.chroma .kc {
  color: map-get($colors, "darkcyan");
}

/* KeywordDeclaration */
.chroma .kd {
  color: map-get($colors, "darkcyan");
}

/* KeywordNamespace */
.chroma .kn {
  color: map-get($colors, "deeppink");
}

/* KeywordPseudo */
.chroma .kp {
  color: map-get($colors, "darkcyan");
}

/* KeywordReserved */
.chroma .kr {
  color: map-get($colors, "darkcyan");
}

/* KeywordType */
.chroma .kt {
  color: map-get($colors, "darkcyan");
}

/* Name */
.chroma .n {
  color: map-get($colors, "black");
}

/* NameAttribute */
.chroma .na {
  color: map-get($colors, "lawngreen");
}

/* NameBuiltin */
.chroma .nb {
  color: map-get($colors, "black");
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: map-get($colors, "black");
}

/* NameClass */
.chroma .nc {
  color: map-get($colors, "lawngreen");
}

/* NameConstant */
.chroma .no {
  color: map-get($colors, "darkcyan");
}

/* NameDecorator */
.chroma .nd {
  color: map-get($colors, "lawngreen");
}

/* NameEntity */
.chroma .ni {
  color: map-get($colors, "black");
}

/* NameException */
.chroma .ne {
  color: map-get($colors, "lawngreen");
}

/* NameFunction */
.chroma .nf {
  color: map-get($colors, "lawngreen");
}

/* NameFunctionMagic */
.chroma .fm {
  color: map-get($colors, "black");
}

/* NameLabel */
.chroma .nl {
  color: map-get($colors, "black");
}

/* NameNamespace */
.chroma .nn {
  color: map-get($colors, "black");
}

/* NameOther */
.chroma .nx {
  color: map-get($colors, "lawngreen");
}

/* NameProperty */
.chroma .py {
  color: map-get($colors, "black");
}

/* NameTag */
.chroma .nt {
  color: map-get($colors, "deeppink");
}

/* NameVariable */
.chroma .nv {
  color: map-get($colors, "black");
}

/* NameVariableClass */
.chroma .vc {
  color: map-get($colors, "black");
}

/* NameVariableGlobal */
.chroma .vg {
  color: map-get($colors, "black");
}

/* NameVariableInstance */
.chroma .vi {
  color: map-get($colors, "black");
}

/* NameVariableMagic */
.chroma .vm {
  color: map-get($colors, "black");
}

/* Literal */
.chroma .l {
  color: map-get($colors, "plum");
}

/* LiteralDate */
.chroma .ld {
  color: map-get($colors, "dark-orange");
}

/* LiteralString */
.chroma .s {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringAffix */
.chroma .sa {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringBacktick */
.chroma .sb {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringChar */
.chroma .sc {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringDoc */
.chroma .sd {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringDouble */
.chroma .s2 {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringEscape */
.chroma .se {
  color: map-get($colors, "mediumpurple");
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringInterpol */
.chroma .si {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringOther */
.chroma .sx {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringRegex */
.chroma .sr {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringSingle */
.chroma .s1 {
  color: map-get($colors, "dark-orange");
}

/* LiteralStringSymbol */
.chroma .ss {
  color: map-get($colors, "dark-orange");
}

/* LiteralNumber */
.chroma .m {
  color: map-get($colors, "plum");
}

/* LiteralNumberBin */
.chroma .mb {
  color: map-get($colors, "plum");
}

/* LiteralNumberFloat */
.chroma .mf {
  color: map-get($colors, "plum");
}

/* LiteralNumberHex */
.chroma .mh {
  color: map-get($colors, "plum");
}

/* LiteralNumberInteger */
.chroma .mi {
  color: map-get($colors, "plum");
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: map-get($colors, "plum");
}

/* LiteralNumberOct */
.chroma .mo {
  color: map-get($colors, "plum");
}

/* Operator */
.chroma .o {
  color: map-get($colors, "deeppink");
}

/* OperatorWord */
.chroma .ow {
  color: map-get($colors, "deeppink");
}

/* Punctuation */
.chroma .p {
  color: map-get($colors, "black");
}

/* Comment */
.chroma .c {
  color: map-get($colors, "dimgray");
}

/* CommentHashbang */
.chroma .ch {
  color: map-get($colors, "dimgray");;
}

/* CommentMultiline */
.chroma .cm {
  color: map-get($colors, "dimgray");;
}

/* CommentSingle */
.chroma .c1 {
  color: map-get($colors, "dimgray");;
}

/* CommentSpecial */
.chroma .cs {
  color: map-get($colors, "dimgray");;
}

/* CommentPreproc */
.chroma .cp {
  color: map-get($colors, "dimgray");;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: map-get($colors, "dimgray");;
}

/* Generic */
.chroma .g {
}

/* GenericDeleted */
.chroma .gd {
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
.chroma .gr {
}

/* GenericHeading */
.chroma .gh {
}

/* GenericInserted */
.chroma .gi {
}

/* GenericOutput */
.chroma .go {
}

/* GenericPrompt */
.chroma .gp {
}

/* GenericStrong */
.chroma .gs {
  font-weight: 700;
}

/* GenericSubheading */
.chroma .gu {
}

/* GenericTraceback */
.chroma .gt {
}

/* GenericUnderline */
.chroma .gl {
}

/* TextWhitespace */
.chroma .w {
}
