/* stylelint-disable selector-max-compound-selectors --- sometimes it's required */
////
/// @group 04-components
/// @author Patrick Kollitsch
///
/// archive cards and display
////

.component--archive-card {

  .is--tags .badge a {
    color: inherit;
  }

  .is--item {
    .is--date {
      line-height: 0.85;

      &:hover {
        background-color: $primary;
        color: $dark;
      }

      span {
        width: 75px;

        display: inline-block;

        @include media-breakpoint-up(sm) {
          display: block;

          &:nth-child(1) {
            font-size: 25px;
            text-transform: uppercase;
          }

          &:nth-child(2) {
            font-size: 50px;
            margin-bottom: 0.3rem;
          }

          &:nth-child(3) {
            font-size: 22px;
          }
        }
      }
    }
  }
}
